/*  your css code here. If applicable */
#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 20px;
}

.grid-item {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

input, button {
    margin: 5px;
}